{% extends "layout.html" %}
{% block content %}
<div class="wall">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div id="meta" data-query="{{ query.query_id }}" data-order="{{ order }}"></div>
        <div class="query">
            検索キーワード：<strong>{{ query.body }}</strong>
        </div>
        <div class="instruction">
            あなたは今Yahoo!知恵袋を訪れており、上記のキーワードで検索を行ったとします。<br>
            以下の質問の全てに目を通して、
            あなたがもし上記のキーワードに興味があると仮定したときに、<br>
            あなたがクリックしたいと思う質問を<strong>全て</strong>選んでください。<br>
            <br>
            タイトルをクリックしても色のついた四角い部分をクリックしても選択できます。<br>
            <br>
            *質問が表示されない場合には「再読み込み」を行ってください*
        </div>
      </div>
    </div>
    <div id="content">
        <div class="text-center">
            <img src= {{ url_for('static', filename='images/loading.gif') }}>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="next">
          <div class="text-center">
            このページの閲覧開始から<span id="time"></span>秒経過
          </div>
          <div class="text-center">
            <a class="btn btn-default btn-lg btn-block"
              href="{{ url_for('next', query_id=query.query_id, order=order) }}">
              次へ
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

