.query {
    background-color: #d2002b !important;
    color: white;
    font-size: 123%;
    padding: 20px 5px 20px 5px;
    margin-bottom: 10px;
}
.query strong {
    font-size: 150%;
}

.instruction {
    padding: 0 5px 0 5px;
    margin-bottom: 50px;
}

.serp {
    font-family: "メイリオ","Hiragino Kaku Gothic ProN","MS PGothic","MS UI Gothic",Helvetica,Arial,sans-serif !important;
    line-height: 1.56;
}

.serp li {
    list-style: none;
    margin-bottom: 20px;
}

.title {
    color: #0000de;
    font-size: 123%;
    text-decoration: underline;
    font-weight: normal !important;
    cursor: pointer;
}

.snippet {
    font-size: small;
    margin-bottom: 3px;
}

.details {
    font-size: small;
    color: #777;
}

.category {
    font-size: small;
    color: #777;
    text-decoration: underline;
}

label.form {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #5bc0de;
    padding: 10px 0 10px 0;
    cursor: pointer;
}
label.checked {
    background-color: #d9534f;
}
.form input {
    display: none;
}
.checkboxlabel span {
    font-size: 150%;
}

.next {
    margin-top: 100px;
    margin-bottom: 50px;
}

.over {
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-size: 123%;
    background-color: #d2002b !important;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.code {
    font-size: 24pt;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}
